<div class="container">
    <h1 class="mt-2">A szabadulószoba</h1>
    <h3 class="mt-4">Te is ki tudsz jutni?</h3>
    <hr>
    <div class="row justify-content-center mt-4">
            <a href="/foglalasok" class="col-lg-2 col-sm-6  btn btn-primary mb-3">Foglalások listázása</a>
            <div class="col-lg-auto"></div>
            <a href="/ujfoglalas" class="col-lg-2 col-sm-6 btn btn-warning mb-3">Új foglalás felvétele</a>
    </div>
    <hr>
    <p class="text-start mt-4">Ki tudtok szabadulni egy üres szobából? Kijutásotok kulcsa végig a szemetek előtt van, de csak akkor kaparinthatjátok meg, ha megfejtitek a különös szoba titkát és felfedezitek, mi mindent rejthet egy üres szoba.</p>
    <div class="row mt-4">
        <img class="col col-lg-8 image-main" src="/assets/images/jatek.jpg" alt="kép a szabadulószobáról">
        <p class="col col-lg-4 lh-lg text">A szabadulószoba ideális program csapatépítőkre, mivel a közös cél és feladat, amit időre kell teljesíteni igazi csapattá kovácsolja a kollégákat.
            A sikerhez szükség lesz logikára, leleményességre, ügyességre és néha egyedi látásmódra.
            <br><span>Tel: +36 90 123 45 67</span>
            <br><span>Cím: 1245 Kos út 8.</span>
        </p>
    </div>
    <div class="row logo mt-4">
        <img src="/assets/images/logo.png" class="col col-lg-4 col-sm-12" alt="a cég logója">
        <div class="col col-lg-8 col-sm-12">
            <h4 class="mt-4 mb-3">Válassz minket! Mert...</h4>
            <ul class="list-group list-group-flush mb-4">
                <li class="list-group-item">...mi vagyunk a legjobbak</li>
                <li class="list-group-item">...olcsók vagyunk</li>
                <li class="list-group-item">...kell a lóvé</li>
            </ul>
        </div>
    </div>

    <div class="row footer fixed-bottom">
       <div class="col-6">a szabaduloszoba 2024 @</div>
       <div class="col-6">aszobabarohadszmeg@escape.com</div>
    </div>
</div>
