<div class="container">
    <h1 class="mt-2">A szabadulószoba</h1>
    <h3 class="mt-4">Új foglalás felvétele</h3>
    <hr>
    <div class="row justify-content-center mt-4 mb-4">
            <a href="/home" class="col-lg-2 col-sm-6  btn btn-primary mb-3">Főoldal</a>
            <div class="col-lg-auto"></div>
            <a href="/foglalasok" class="col-lg-2 col-sm-6 btn btn-warning mb-3">Foglalások listázása</a>
    </div>
    <hr>
    <h4 class="mt-4 mb-4">Töltsd ki az alábbi űrlapot majd nyomd meg a <i>Rögzít gombot</i></h4>
    <form>
        <div class="row">
            <div class="col col-lg-4 col-sm-12 mb-3">
            <label for="date" class="form-label">Dátum:</label>
            <input type="date" class="form-control" id="date" [value]="currentDate">
            </div>
            <div class="col col-lg-4 col-sm-12 mb-3">
            <label for="name" class="form-label">Név:</label>
            <input type="text" class="form-control" id="name">
            </div>
            <div class="col col-lg-4 col-sm-12 mb-3">
              <label for="people" class="form-label">Hány fő: {{numOfPeople}}</label>
              <input type="range" class="form-range" name="people" min="2" max="16" step="1" id="people" [(ngModel)]="numOfPeople" (input)="onNumOfPeopleChange()">
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-6 col-sm-12 mb-3">
            <label for="address" class="form-label">Cím:</label>
            <input type="text" class="form-control" id="address">
            </div>
            <div class="col col-lg-6 col-sm-12 mb-3">
            <label for="zipcode" class="form-label">Irányítószán:</label>
            <input type="number" class="form-control" id="zipcode">
            </div>
        </div>
        <div class="row justify-content-center mt-4">
        <button type="submit" class="col-lg-2 col-sm-6 btn btn-primary">Rögzít</button>
        </div>
      </form>
      <div class="row justify-content-center mt-4">
        <img src="/assets/images/logo.png" class="col col-lg-2 col-sm-4 mt-4" alt="a cég logója">
      </div>




    <div class="row footer fixed-bottom">
        <div class="col-6">a szabaduloszoba 2024 @</div>
        <div class="col-6">aszobabarohadszmeg@escape.com</div>
     </div>
</div>
